@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

textarea {
  width: 100%;
  min-height: 100%;
}